<h2>Products:</h2>
<hr>
<br>
{{#each products}}
    <h4>{{title}}</h4>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{thumbnail}}</p>
    <p>{{code}}</p>
    <p>{{stock}}</p>
    <p>{{category}}</p>
    <button onclick="addProduct({{_id}})">add</button>
    <hr>
{{/each}}

<a href="/?page=1">First</a>

{{#if hasPrevPage}}
    <a href="/?page={{prevPage}}">Prev</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/?page={{nextPage}}">Next</a>
{{/if}}

<a href="/?page={{totalPages}}">Last</a>